docker_compose_traefik
omekas/config/database.ini
omekas/config/local.config.php
omekas/modules
!omekas/modules/.keep
omekas/themes
!omekas/themes/.keep
omekas/logs
!omekas/logs/.keep
omekas/files
!omekas/files/.keep
omekas/sideload
!omekas/sideload/.keep
.env
.gitignore
letsencrypt
traefik
