services:
  omekas_db:
    image: mysql:latest
    container_name: omekas_db
    restart: unless-stopped
    volumes:
      - omeka_db:/var/lib/mysql:Z
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

  omekas:
    build: .
    depends_on:
      - omekas_db
    # image:  giocomai/omeka-s-docker:v4.1.1
    image: ntsha-omeka-s-docker
    container_name: omekas
    ports:
      - "8000:80"
    restart: unless-stopped
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_HOST: omekas_db
      APPLICATION_ENV: development
      OMEKA_THEMES:  |
        https://github.com/omeka-s-themes/default
        https://github.com/omeka-s-themes/freedom
      OMEKA_MODULES: |
        https://github.com/Daniel-KM/Omeka-S-module-Common
        https://github.com/omeka-s-modules/CSVImport
        https://github.com/omeka-s-modules/FileSideload
        https://github.com/omeka-s-modules/Hierarchy
        https://github.com/smachefert/Omeka-S-module-IiifSearch/archive/refs/tags/v3.4.7.zip
        https://github.com/Daniel-KM/Omeka-S-module-IiifServer/releases/download/3.6.16/IiifServer-3.6.16.zip
        https://github.com/Daniel-KM/Omeka-S-module-ImageServer/releases/download/3.6.17/ImageServer-3.6.17.zip
        https://github.com/Daniel-KM/Omeka-S-module-UniversalViewer/releases/download/3.6.9/UniversalViewer-3.6.9.zip
      PHP_MEMORY_LIMIT: 512M
      PHP_UPLOAD_MAX_FILESIZE: 64M
      PHP_POST_MAX_SIZE: 64M
      PHP_MAX_EXECUTION_TIME: 300
      OMEKA_ADMIN_EMAIL: ${OMEKA_ADMIN_EMAIL}
      OMEKA_ADMIN_NAME: ${OMEKA_ADMIN_NAME}
      OMEKA_ADMIN_PASSWORD: ${OMEKA_ADMIN_PASSWORD}
      OMEKA_SITE_TITLE: ${OMEKA_SITE_TITLE}
    volumes:
      - omekas:/var/www/html/volume
      - ./omekas/config:/var/www/html/config
      - ./omekas/files:/var/www/html/files
      - ./omekas/themes:/var/www/html/themes
      - ./omekas/modules:/var/www/html/modules
      - ./omekas/logs:/var/www/html/logs
      - ./omekas/sideload:/omeka-sideload

volumes:
  omeka_db:
  omekas:
